.ant-comment
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
    margin: 20px 0
    padding: 15px
.tab__list
    display: flex
    list-style: none
    margin: 0
    padding: 0
    &_item
        border: 1px solid rgba(0, 0, 0, 0.5)
        border-radius: 2px
        padding: 2px 5px
        font-size: 12px
        margin: 10px 0
        &:not(:last-child)
            margin-right: 6px
.comment-action
    padding-left: 5px
.post__like_btn
    border: none
    background-color: transparent
    cursor: pointer
    &:active, &:focus
        outline: none
.post__title
    cursor: pointer
    &:hover
        text-decoration: underline
